@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.background {
    background-image: linear-gradient(180deg, #FF715B 0%, #FFFFFF 51.89%, #1EA896 100%);
    position: relative;
    width: 100%;
    height: 910px;
}

.signup-panel {
    position: absolute;
    width: 600px;
    height: 770px;
    left: 30%;
    top: 70px;
    margin: auto;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(43, 43, 43, 0.5);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.welcome-1 {
    width: 420px;
    height: 37px;
    color: #4C5454;
    border-left: 6px solid #4C5454;
    font-style: normal;
    font-family: 'Poppins', 'Karla';
    font-weight: 600;
    font-size: 40px;
    line-height: 35px;
    margin: 45px;
    margin-top: 50px;
    margin-left: 70px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.prompt-1 {
    font-style: normal;
    font-family: 'Poppins', 'Karla';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    margin-left: 104px;
    margin-bottom: 10px;
    align-items: center;
    color: #000000;
}

.input-1 {
    margin-left: -20px;
    margin-bottom: 35px;
    width: 371px;
    height: 37px;
    border: 1px solid #4C5454;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.submit-btn-1 {
    width: 161px;
    height: 60px;
    background: #1EA896;
    border-radius: 10px;
    font-family: 'Poppins', 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 15px;
}